/* Global */
:root {
    /* Colours */
    --clr-PrimaryBG: #FFFFFF;
    --clr-Accent: #F6F6F6;
    --clr-Border: #1A1A1A;
    --clr-Text: #292929;
    --clr-DropShadow: #2A2A2A;
    /* Fixed Values */
    --BorderRadius: 3px;
    --DropShadow: 5px;
    --DropShadowBlur: 10px;
}
@font-face {
    font-family: "Avantgarde";
    src: url(/Fonts/Avantgarde.TTF);
}

* {
    padding: 0em;
    box-sizing: border-box;
    text-align: center;
    font-family: "Avantgarde";
    line-height: 1.25em;
}

/* Check-In Page */

html
{
    margin: 0em auto;
    height: 90%;
    width: 90%;
}

body
{   
    /* Pastel Background */
    background-image: url("/Images/Backgrounds/Darken/Background_02.png");
    background-position-x: center;
    min-width: 420px;
    min-height: 900px;
}

.CheckInContainer, .HomePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
    padding-top: 1em;
}

.CheckInHeader, .HomePageHeader
{
    color: var(--clr-Accent);
}

.ModuleTitle 
{
    padding-top: 1em;
}

.InputFields 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
}

.InputFields > input 
{
    border: solid 1px var(--clr-Border);
    height: 2.25em;
    border-radius: var(--BorderRadius);
    width: 15em;
    background-color: var(--clr-PrimaryBG);
    color: var(--clr-Text);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowBlur) var(--clr-DropShadow);
    user-select: all;
}

.SubmitButton
{
    border: solid 1px var(--clr-Border);
    border-radius: var(--BorderRadius);
    height: 3em;
    width: 10em;
    background-color: var(--clr-PrimaryBG);
    color: var(--clr-Text);
    text-align: center;
    text-decoration: none;
    margin: auto;
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowBlur) var(--clr-DropShadow);
}

.SubmitButton:hover
{
    background-color: #CCCCCC;
}

.CheckInFooter, .HomeFooter
{
    background-color: var(--clr-Accent);
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Home Page */

.ModuleContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 1em;
    /* Colour */
    background-color: var(--clr-Accent);
    border: 1px solid var(--clr-Border);
    border-radius: var(--BorderRadius);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowBlur) var(--clr-DropShadow);
}

.ModuleContainer > div
{
    background-color: var(--clr-Accent);
    padding: 1em;
    margin-top: 0.25em;
    width: 90%;
}

.OverallAttendanceSessions
{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.OverallAttendanceSessionsHeaders
{
    color: var(--clr-Accent);
}

.AttendedText
{
    color: #40FF40;
}

.AbsentText
{
    color: #FF4040;
}

.TotalSessionsText
{
    color: var(--clr-Accent);
}