/* Global */
:root {
    /* Colours */
    --clr-PrimaryBG: #FFFFFF;
    --clr-Accent: #F6F6F6;
    --clr-Border: #1A1A1A;
    --clr-Text: #292929;
    --clr-DropShadow: #2A2A2A;
    /* Fixed Sizing */
    --maxWidth: 420px;
    --maxHeight: 900px;
    /* Fixed Values */
    --BorderRadius: 3px;
    --DropShadow: 5px;
    --DropShadowBlur: 10px;
}
@font-face {
    font-family: "Avantgarde";
    src: url(/Fonts/Avantgarde.TTF);
}
* {
    margin: 0em auto;
    padding: 0em;
    box-sizing: border-box;
    max-width: var(--maxWidth);
    max-height: var(--maxHeight);
    text-align: center;
    font-family: "Avantgarde";
    line-height: 1.25em;
}
/* Check-In Page */
body
{   
    /* Pastel Background */
    background-image: url("/Images/Backgrounds/Darken/Background_02.png");
    background-size: var(--maxWidth) var(--maxHeight);
    background-repeat: no-repeat;
}

.CheckInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
    padding-top: 1em;
}

.CheckInHeader
{
    color: var(--clr-Accent);
}

.ModuleTitle 
{
    width: var(--maxWidth);
    padding-top: 1em;
}

.InputFields 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
}

.InputFields > input 
{
    border: solid 1px var(--clr-Border);
    height: 2.25em;
    border-radius: var(--BorderRadius);
    width: 15em;
    background-color: var(--clr-PrimaryBG);
    color: var(--clr-Text);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowBlur) var(--clr-DropShadow);
}

.SubmitButton
{
    border: solid 1px var(--clr-Border);
    border-radius: var(--BorderRadius);
    height: 3em;
    width: 10em;
    background-color: var(--clr-PrimaryBG);
    color: var(--clr-Text);
    text-align: center;
    text-decoration: none;
    margin: auto;
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowBlur) var(--clr-DropShadow);
}

.CheckInFooter
{
    background-color: var(--clr-Accent);
    width: var(--maxWidth);
    position: fixed;
    bottom: 0;
}

/* Home Page */